@media(max-width: 440px) {

    .container{

        max-width: 440px;
        width: 100%;
        margin: 0 auto;
        background-color: #c60606;
    }
    .divheader{
        display: none;
    }
    .c .cover2_text_container2{
        height: 200px;
        margin-bottom: 30px;
        margin-left: 15px;
    }
    .burger-menu{
        display: block;
        margin-right: 60px;

    }
    .div2 h2{
        font-size: 20px;
    }
    .burg_men{
        display: flex;
        
        align-items: center;
        justify-content: space-between;

    }
    /* .responsive-nav{
        display: block;
    } */
    footer{

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_ul{
        justify-content: center;
        align-items: center;
    }
    .cover{
        margin-top: 35px;
    }
    .text_container p, span{
        font-size: 30px;
    }
    .text_container{
        margin-top: -80px;
    }
    .section2{
        margin-bottom: 50px;
    }
    
    #header2 .divheader{
        display: none;
    }
    
    .contact_text_container{
        display: none;
    }
    
 }